﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Modulo.aspx.cs" Inherits="Modulo" Debug="true"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Modulos</title>
    <style type="text/css">
             a:hover.sobre{
  color:#fff;
  background-color: black;
  
  border: 0px solid green;
  font-family:impact;
}
         .DivPadre{
        width:100%;
        height:100%;        
        background:black;
         opacity: 0.9;
        position:absolute;
        top:0px;
        left:0px;
        z-index:30000;
        }
        .DivHijo
        {
        	background:white;
        	margin:10vh auto 0 auto;
        	padding:10px;
        	border-radius:5px;
        	}
        .style1
        {
            width: 100%;
        }
        .style2
        {
        }
        .style3
        {
        }
    </style>
    <script src="js/script.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table class="style1">
            <tr>
                <td align="center" colspan="2">
                    <asp:Label ID="lblTitulo" runat="server" Text="MODULOS DE :"></asp:Label>
                    
            </tr>
            <tr>
                <td class="style3">
                    &nbsp;&nbsp;<input id="add" type="button" value="Agregar Modulo" onclick="jsOpenDialog('AddModulo.aspx?idE=<%=Request.QueryString["id"] %>&evento=<%=Request.QueryString["evento"] %>&fi=<%=Request.QueryString["fi"] %>&ff=<%= Request.QueryString["ff"]%>',450)"/><asp:ImageButton 
                        ID="icono" runat="server" ImageUrl="~/img/back.jpg" 
                        onclick="icono_Click" Width="20px" />
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style2" colspan="2">
                    <asp:GridView ID="gridModulos" runat="server" AutoGenerateColumns="False" DataKeyNames="idModulo" 
                        DataSourceID="evt_modulo" 
                        onselectedindexchanged="GridView1_SelectedIndexChanged">
                        <Columns>
                            <asp:TemplateField ShowHeader="False">
                                
                                <ItemTemplate>
                                    <a class="sobre" href="javascript:jsOpenDialog('AddModulo.aspx?id=<%# Eval("idModulo") %>&idE=<%=Request.QueryString["id"] %>&evento=<%=Request.QueryString["evento"] %>&fi=<%=Request.QueryString["fi"] %>&ff=<%= Request.QueryString["ff"]%>',450);">Editar</a>
                                    
                                    <%-- <asp:LinkButton CssClass="sobre" ID="LinkButton3" runat="server" CausesValidation="False" 
                                        CommandName="Delete" Text="Eliminar"></asp:LinkButton>--%>
                                </ItemTemplate>
                            </asp:TemplateField>
                           
                            <asp:BoundField DataField="CarnetDocente" HeaderText="CarnetDocente" 
                                SortExpression="CarnetDocente" />
                            <asp:BoundField DataField="nombreModulo" HeaderText="nombreModulo" 
                                SortExpression="nombreModulo" />
                            <asp:BoundField DataField="fechaInicio" HeaderText="fechaInicio" 
                                SortExpression="fechaInicio" />
                            <asp:BoundField DataField="fechaFin" HeaderText="fechaFin" 
                                SortExpression="fechaFin" />
                            <asp:BoundField DataField="enlace" HeaderText="enlace" 
                                SortExpression="enlace" />
                            <asp:CheckBoxField DataField="prioridadDocente" HeaderText="prioridadDocente" 
                                SortExpression="prioridadDocente" />
                            <asp:BoundField DataField="horario" HeaderText="horario" 
                                SortExpression="horario" />
                                <asp:BoundField DataField="contenido" HeaderText="contenido" 
                                SortExpression="contenido" />
                        </Columns>
                    </asp:GridView>
                    <asp:SqlDataSource ID="evt_modulo" runat="server" 
                        ConnectionString="<%$ ConnectionStrings:Campus_db %>" 
                        DeleteCommand="DELETE FROM [evt_Modulo] WHERE [idModulo] = @idModulo" 
                        
                        SelectCommand="SELECT * FROM [evt_Modulo]" >
                        
                        
                    </asp:SqlDataSource>
                </td>
            </tr>
            <tr>
                <td class="style3" align="center" colspan="2">
                    
                     &nbsp;</td>
            </tr>
            <tr>
                <td class="style3">
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style3">
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
<script>
function transforma(){
var ihora=document.getElementById("timh");
ihora.type="time";
var ihora=document.getElementById("timf");
ihora.type="time";
var iDate=document.getElementById("dateI");
iDate.type="date";
iDate.min='<%=Request.QueryString["fi"] %>';
console.log('<%=Request.QueryString["fi"] %>')
iDate.max='<%=Request.QueryString["ff"] %>';
var iDate=document.getElementById("dateF");
iDate.type="date";
iDate.min='<%=Request.QueryString["fi"] %>';
iDate.max='<%=Request.QueryString["ff"] %>';
var ihora=document.getElementById("timf");





}
</script>
<%-- <script>

    function llenarslect(){
        
            var z=document.getElementById('lista');

        var cadenas=document.querySelector("#Hidden1").value.split('\n');
        if(cadenas.length>1){
            for(var i=0;i<cadenas.length-1;i++){
        const item=document.createElement('option');
        item.value=cadenas[i];
        item.text=cadenas[i];
        z.appendChild(item);
        }
        }
 
    }

function mandarLbl(){
        var z=document.getElementById('sel');
        
        document.querySelector("#lblSalida").innerText+=z.options[z.selectedIndex].text;
        //a+=z.options[z.selectedIndex].value;
    }
function subir(){
        var z=document.getElementById('lista');
       z.childNodes.forEach(element => {
        console.log('valor::'+element.value+' texto::'+element.text);
        
    });
        if((z.selectedIndex+1)>1){
        var aux=z.childNodes[z.selectedIndex].text;
        var auxV=z.childNodes[z.selectedIndex].value;
        z.childNodes[z.selectedIndex].text=z.childNodes[z.selectedIndex+1].text;
        z.childNodes[z.selectedIndex].value=z.childNodes[z.selectedIndex+1].value;  
        z.childNodes[z.selectedIndex+1].text=aux;
        z.childNodes[z.selectedIndex+1].value=auxV;
        }
    console.log(z.childNodes[z.selectedIndex+1].text+'---'+(z.selectedIndex+1)) ;
    llenarContenido();
    }


    function bajar(){
        var z=document.getElementById('lista');

        var indice=z.selectedIndex+1;

        if(indice<z.childNodes.length){
            var aux=z.childNodes[indice+1].text;
        var auxV=z.childNodes[indice+1].value;
        z.childNodes[indice+1].text=z.childNodes[indice].text;
        z.childNodes[indice+1].value=z.childNodes[indice].value; 
        z.childNodes[indice].text=aux;
        z.childNodes[indice].value=auxV;
        }
        z.childNodes.forEach(element => {        
        
        console.log('valor::'+element.value+' texto::'+element.text);
        
    });
    llenarContenido();

    }


    function eliminar(){
        var z=document.getElementById("lista");
        var itemSelect=z.options[z.selectedIndex];
        z.removeChild(itemSelect);
        llenarContenido();

    }
    function agregarNivel(){
        
        var z=document.getElementById("lista");
        const item=document.createElement('option');
        item.value=document.getElementById('entrada').value;
        item.text=document.getElementById('entrada').value;
        z.appendChild(item);
        llenarContenido();
        

    }
    function agregarSubnivel(){
        var z=document.getElementById("lista");
        var itemSelect=z.options[z.selectedIndex];
        z.options[z.selectedIndex].text=itemSelect.text+'('+document.getElementById('entrada').value+')';
        llenarContenido();
    }
    function mostrarInf(){
        var listaselect=document.getElementById('lista');
        var salida=document.getElementById('salida');
        for(var i=0;i<listaselect.length;i++){
            var opt=listaselect[i];
            salida.value+='-'+opt.text+'\n';
            console.log(opt.text);
        }
    }
    function remover(){
        var x = document.getElementById("sel");
        var y=document.getElementById("textosal");
        y.value=y.value+x.options[x.selectedIndex].value;
        var z=document.getElementById("mySelect");
        z.appendChild(x.options[x.selectedIndex]);
        //x.remove(x.selectedIndex);         
    }
    function volver(){
        var x=document.getElementById("mySelect");
        var y=document.getElementById("sel");
        y.appendChild(x.options[x.selectedIndex]);

    }
    function llenarContenido(){
        var z=document.getElementById('lista');
        //var a =document.getElementById('txtContenido').value;
        //document.querySelector("#lblSalida").innerText="";
        document.querySelector("#Hidden1").value="";
       z.childNodes.forEach(element => {
           if(element.value!=undefined){
            console.log('valor::'+element.value+' texto::'+element.text);
            //document.querySelector("#lblSalida").innerText+='-'+element.text+'\n';
            document.querySelector("#Hidden1").value+='-'+element.text+'\n';
            console.log(document.querySelector("#Hidden1").value);
           }
        
        //document.querySelector("#txtContenido").innerText='hola'
    });
    }

function transforma(){
    var ihora=document.getElementById("timh");
    ihora.type="time";
    var ihora=document.getElementById("timf");
    ihora.type="time";
    var iDate=document.getElementById("dateI");
    iDate.type="date";
    iDate.min='<%=Request.QueryString["fi"] %>';
    iDate.max='<%=Request.QueryString["ff"] %>';
     var iDate=document.getElementById("dateF");
    iDate.type="date";
    iDate.min='<%=Request.QueryString["fi"] %>';
    iDate.max='<%=Request.QueryString["ff"] %>';
    var ihora=document.getElementById("timf");
    


     
   
}


function jsOpenDialog(url,width){
    let DivPadre=document.createElement("div");
    DivPadre.className="DivPadre";
    DivPadre.id="DivPadre";
    document.body.appendChild(DivPadre);
    let DivHijo=document.createElement("div");
    DivHijo.className="DivHijo";
    DivHijo.id="DivHijo";
    DivHijo.style.width=width+"px";
    document.body.appendChild(DivPadre);
    DivPadre.appendChild(DivHijo);
    
    
    window.scroll({
  top: 10,
  behavior: 'smooth'
});
    
    fetch(url)
    .then(function(res){
        return res.text();
    })
    .then(function (texto)
    {
        document.getElementById("DivHijo").innerHTML=texto;
        transforma();
        llenarslect();
    }
    )
    
    
}
function jsRemoveDialog(){
let DivPadre=document.getElementById("DivPadre");
document.body.removeChild(DivPadre);
}




</script>
 --%>
</html>
