﻿<%@ Page Title="" Language="C#" MasterPageFile="~/usuario/Usuario.Master" AutoEventWireup="true" CodeBehind="certificado.aspx.cs" Inherits="Eventos.usuario.certificado" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
       <asp:ListView ID="ListView1" runat="server" DataSourceID="SqlDataSource1">
        <ItemTemplate>

             <iframe src="<%# ConfigurationManager.AppSettings["url_admin"]+Eval("certificadoPdf") %>" width="70%" height="500px" style="margin-left:15%"></iframe>

        </ItemTemplate>
    </asp:ListView>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server"
        ConnectionString="<%$ ConnectionStrings:Campus_db %>" 
        SelectCommand="select ins.[fecha_Inscripcion],ins.[CodigoPago],ins.[nota_final],[nombreEvento], [cantidadHoras],[cedulaIdentidad],[nombreCompleto] from [dbo].[evt_Inscripcion] as ins inner join [dbo].[evt_Evento] as even on ins.idEvento=even.idEvento inner join [dbo].[Estudiante] as est on ins.idEstudiante=est.idEstudiante where ins.[idEstudiante]=1 " >
    </asp:SqlDataSource>


     <script>
     </script>
</asp:Content>
