
body {
margin: 0;
padding: 0;
}

#background 
{ 
left: 0px; 
top: 0px; 
position: relative; 
margin-left: auto; 
margin-right: auto; 
width: 605px;
height: 675px; 
overflow: hidden;
z-index:0;

} 

#Rectangle3 
{ 
left: -15px;
top: -9px;
position: absolute;
width: 637px;
height: 694px;
z-index: 1;
background-color: #f0f8ff59;


} 
#m_-6987149612573520805Rectangle3{
left: -15px; 
top: -9px; 
position: absolute; 
width: 637px;
height: 694px;
z-index:1;
background-color: blue;
}

#Rectangle3_0 
{ 
left: -1px; 
top: 653px; 
position: absolute; 
width: 436px;
height: 34px;
z-index:2;
background-color: black;
clip-path: polygon(0px 0px, 89.68% 1px, 100% 100%, 0% 100%);
} 
#Rectangle3_0 ::before{
left: -1px; 
top: 653px; 
position: absolute; 
width: 436px;
height: 34px;
z-index:2;
}

#Shape1copy 
{ 
left: -1px; 
top: 638px; 
position: absolute; 
width: 405px;
height: 49px;
z-index:3;

} 

#Rectangle1 
{ 
left: 429px; 
top: -24px; 
position: absolute; 
width: 214px;
height: 162px;
z-index:4;
background-color: black;
clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
} 

#Shape1 
{ 
position: absolute;
width: 100%;
height: 30%;
z-index: 5;
background-color: #f5b718;

} 

#Rectangle4 
{ 
left: -1px; 
top: 32px; 
position: absolute; 
width: 46px;
height: 26px;
z-index:6;
background-color: rgb(241, 188, 54);
} 

#logoutbfinalcopy 
{ 
left: 34%;
top: 90%;
position: absolute;
width: 30%;
height: 5%;
z-index: 7;
background-color: transparent;


} 

#logoutbfinal 
{ 
left: 61px; 
top: 16px; 
position: absolute; 
width: 256px;
height: 56px;
z-index:8;

} 

#Facturan2003 
{ 
left: 198px; 
top: 89px; 
position: absolute; 
width: 205px;
height: 19px;
z-index:9;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: x-large;
} 

#RoundedRectangle2 
{ 
left: 50px; 
top: 400px; 
position: absolute; 
width: 545px;
height: 94px;
z-index:10;
background-color:rgba(23, 34, 22, 0.11);     
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 20px;
padding: 8px;
} 


#EstimadoclienteAdjun 
{ 
left: 51px; 
top: 160px; 
position: absolute; 
width: 509px;
height: 85px;
z-index:11;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
#RoundedRectangle1 
{ 
left: 183px; 
top: 258px; 
position: absolute; 
width: 241px;
height: 53px;
z-index:13;
background-color: #fae5a8;
border-radius: 20px;
} 
#Lafacturaenelformato 
{ 
left: 8%;
top: 42%;
position: absolute;
width: 84%;
height: 36%;
z-index: 12;

background-color: transparent;
} 
#Lafacturaenelformato h1{
margin-top: 0px;
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#Lafacturaenelformato h4{
font-style: normal;
font-family: 'Courier New', Courier, monospace;

}
#Lafacturaenelformato h3{
font-style: normal;
font-family: 'Courier New', Courier, monospace;
}

#NmerodelaFactura2003 
{ 
left: 30%;
top: 35%;
position: absolute;
width: 35%;
height: 5%;
z-index: 14;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: small;
background-color: transparent;
} 
#logoCabecera{

width: 70%;
height: 60%;
background-color: transparent;
margin-left: 15%;
margin-top: 5%;
background-repeat: no-repeat;
}
#ImgLogoCabecera{
margin-left: 10%;
margin-top: 10%;
}
