﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Eventos.Master" AutoEventWireup="true" CodeBehind="Verificar.aspx.cs" Inherits="Eventos.Verificar" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="width:100%;" align="center">
            <div style="background-color:#f6f6ee;padding: 12px; margin: 12px 0 12px 0; width: 450px; border: solid 1px black;" align="center">
                &nbsp;<h3>
                    VERIFICACIÓN DE INSCRIPCIÓN</h3>
                <div style="width:100%" align="left">
                Codigo:
                <asp:Label ID="Lbl_codigo" runat="server" Text=""></asp:Label>
                <br />
                Fecha de Inscripción:
                <asp:Label ID="LblFechaInscripcion" runat="server" Text=""></asp:Label>
                <br />
                Estudiante:
                <asp:Label ID="LblStudent" runat="server" Text=""></asp:Label>
                <br />
                CI:
                <asp:Label ID="LblCI" runat="server" Text=""></asp:Label>
                <br />
                <hr />
                <span style="color:crimson;"><asp:Label ID="LblEvent" runat="server" Text=""></asp:Label></span>
                (<asp:Label ID="LblFecha" runat="server" Text=""></asp:Label>)
                <br />
                Modalidad:
                <asp:Label ID="LblModalidad" runat="server" Text=""></asp:Label>
                <br />
                Monto de Inscripción: <asp:Label ID="LblCosto" runat="server" Text=""></asp:Label>
                </div>
                <hr />
                <br />
                <asp:Image ID="Image1" runat="server" Height="100px" ImageUrl="~/img/bien.png" Width="100px" />
                <br />
                
                
            </div>
        </div>
        </asp:Content>
