body {
	/*height:100%;*/
	font-family: Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

header {	
	display:block;
	padding:0px;
	background-color:gray;
}

.cabezera {	
	background-image:url("../img/frontis-utb.png");
	/*background-color:Gray;*/
	background-repeat: no-repeat;
	background-position: center; 
	height:125px;
	text-align:center;
}


section {
	width: 100%;
	background: #fff;
	float: left;
	overflow: auto;
	padding: 20px 20px 20px 0px;
}


.contenido
{
	padding-left: 100px;
}

.icono
{
	width:60px;
	float:left;
}

.titulo_card
{
	color:green;
}
.texto-introduccion
{
	background-color:Black;
	font-family: Roboto,segoe ui,Helvetica,Arial,sans-serif;
	padding:20px;
	color:White;
}

.texto-introduccion p
{
color:Orange;
}

.entrada_formulario
{
	display: block;
	width: 100%;
	background-color:aquamarine;
}

.texto-modulo {
	border-top: 1px solid #d1d7dc;
	padding: 0.2rem 0;
	font-family: Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.texto-modulo ul {
	/*display: flex;
	flex-flow: row wrap;*/
	justify-content: space-between;
	/*list-style-type: none;
	list-style-position: inside;
	padding-left: 0;
	margin-left: 0px;*/
}

.texto-modulo li {
	/*width: calc(50% - (2.4rem/2));*/
	font-size: small;
	margin-top: 0px;
	padding-left:0.3rem;
}
.texto-docente {
	border-top: 1px solid #d1d7dc;
	padding: 0.2rem 0;
	/*padding: 10px;*/
	font-family: Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.texto-docente ul {
	justify-content: space-between;
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0;
	margin-left: 0px;
}

.texto-docente li {
	font-size: small;
	margin-top: 0px;
	-webkit-padding-start: 0;
}
.texto-informativo {
	border: 1px solid #d1d7dc;
	padding: 0.4rem 0;
	/*padding: 10px;*/
	position: relative;
	top: 0;
	right: 0;
	font-family: Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.texto-informativo ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0;
	margin-left: 0px;
}
.texto-informativo li {
	width: calc(50% - (2.4rem/2));
	font-size: small;
	margin-top: 0px;
	-webkit-padding-start: 0;
}
.parrafo-informativo
{
  margin:-1rem 0 0 2rem;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000;
}

.svg-icon circle {
  stroke: #000;
  stroke-width: 1;
}

.texto-final
{
	padding:10px;
	font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
	font-size:small;
	vertical-align:top;
}

footer 
{

	padding:5px 0px;
	clear: both;
	background: #f5b718;
	/*background-color:#808080;*/
	text-align: center;
	color: #000;
	height:300px;
}
.pie
{
background: #f5b718;
	
}


figure {
	display: table; margin: 0 auto;
}

h2 {
    font-size: 60px;
 }
 



